{% extends 'base.html' %}

{% block content %}

<h3>User: {{ request.user }}</h3>
<h2>Dashboard</h2>

<div class="row mb-4">

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Total Students</h5>
                <h2>{{ student_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Male</h5>
                <h2>{{ male_students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Female</h5>
                <h2>{{ female_students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>With Photo</h5>
                <h2>{{ photo_students }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}