{% extends 'base.html' %}

{% block content %}

<h2>Edit Student</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label>Roll</label>
        {{ form.roll }}
    </div>

    <div class="mb-3">
        <label>Registration No</label>
        {{ form.registration_no }}
    </div>

    <div class="mb-3">
        <label>Session</label>
        {{ form.session }}
    </div>

    <div class="mb-3">
        <label>Class</label>
        {{ form.student_class }}
    </div>

    <div class="mb-3">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="mb-3">
        <label>Phone</label>
        {{ form.phone }}
    </div>

    <div class="mb-3">
        <label>Date of Birth</label>
        {{ form.dob }}
    </div>

    <div class="mb-3">
        <label>Religion</label>
        {{ form.religion }}
    </div>

    <div class="mb-3">
        <label>Gender</label>
        {{ form.gender }}
    </div>

    <div class="mb-3">
        <label>Photo</label>
        {{ form.photo }}

        {% if form.instance.photo %}
            <br><br>
            <img src="{{ form.instance.photo.url }}"
                 width="120"
                 class="img-thumbnail">
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">
        Update
    </button>

    <a href="{% url 'list' %}" class="btn btn-secondary">
        Cancel
    </a>

</form>
{% endblock %}