{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow text-center">

        <div class="card-body p-5">

            <div class="mb-4">

                <i class="fas fa-check-circle text-success"
                   style="font-size:70px;"></i>

            </div>

            <h2 class="text-success">
                Application Submitted Successfully
            </h2>

            <p class="mt-3">

                Thank you for submitting your online admission application.

            </p>

            <p>

                Our admission office will review your application.
                You will be contacted after verification.

            </p>

            <a href="{% url 'home' %}"
               class="btn btn-primary mt-3">

                Back to Home

            </a>

        </div>

    </div>
</div>

{% endblock %}