{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h4>Student Promotion</h4>

        </div>

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                <div class="mb-3">
                    {{ form.from_class.label_tag }}
                    {{ form.from_class }}
                </div>

                <div class="mb-3">
                    {{ form.from_section.label_tag }}
                    {{ form.from_section }}
                </div>

                <div class="mb-3">
                    {{ form.to_class.label_tag }}
                    {{ form.to_class }}
                </div>

                

                <div class="mt-3">

    <button
        type="submit"
        name="preview"
        class="btn btn-primary">

        Preview Students

    </button>

    <button
        type="submit"
        class="btn btn-success">

        Promote

    </button>

    </div>

            </form>

            {% if students %}

<div class="card mt-4">

    <div class="card-header bg-success text-white">

        Students To Promote

    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <thead>

                <tr>

                    <th>Roll</th>

                    <th>Name</th>

                    <th>Current Class</th>

                    <th>Section</th>

                    <th>New Class</th>

                </tr>

            </thead>

            <tbody>

                {% for student in students %}

                <tr>

                    <td>{{ student.roll }}</td>

                    <td>{{ student.name }}</td>

                    <td>{{ student.student_class }}</td>

                    <td>{{ student.section }}</td>

                    <td>{{ to_class }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endif %}

        </div>

    </div>

</div>

{% endblock %}